<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout :: head"></head>

<body>
<nav th:replace="layout :: nav"></nav>
<div th:replace="layout :: flash"></div>
<div class="container marginTop centered">
    <div class="card bg-light mb-1 marginTop text-center" style="width:40rem;margin:0 auto;">

        <div class="card-body">
            <h1 class="card-title" style="font-family: 'Dancing Script', cursive;"> New bank account </h1>
            <p th:if="${exception != null}" style="color:red;" th:text="${exception.message}"></p>

            <form class="needs-validation card-text" novalidate th:object="${bankAccountRequest}"
                  th:action="@{/accounts/}"
                  method="post">
                <div class="form-row">
                    <div class="col-md-6">
                        <label>Account number:</label>
                        <i th:if="${#fields.hasErrors('accountNumber')}" class="fa fa-exclamation tooltips"
                           data-original-title="please enter a valid name" data-container="body"></i>
                        <input minlength="2" maxlength="100" required type="text" class="form-control"
                               th:field="*{accountNumber}"/>

                        <div class="invalid-feedback">The account number cannot be empty.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Card number:</label>
                        <input minlength="1" maxlength="100" required type="text" class="form-control"
                               th:field="*{cardNumber}" pattern="4[0-9]{12}(?:[0-9]{3})?$"/>
                        <div class="invalid-feedback">Card number not valid! Only Visa accepted.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label th:for="price">Balance:</label>
                        <input type="number" min="0.10" step="any" class="form-control" th:field="*{balance}"/>
                        <div class="invalid-feedback">Balance cannot be negative.
                        </div>
                    </div>
                </div>

                <div class="row marginTop">
                    <div class="col centered">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>

</html>