<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout :: head"></head>
<body style="background-color:#e9ecef;">
<nav th:replace="layout :: nav"></nav>
<div th:replace="layout :: flash"></div>

<div class="jumbotron">
    <h1 class="display-4">Welcome to Car Dealership!</h1>
    <p class="lead">Are you ready to find the car that suits you at the best price?Are you ready to find the car that suits you at the best price?</p>
    <hr class="my-4">
    <p>Not convinced? Take a look through our catalog.</p>
    <a class="btn btn-primary btn-lg" href="/cars" role="button">Get started</a>
</div>
</body>
</html>